# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
.tmp/
*.log

# Node
node_modules/

# Clojure / nbb / LSP caches
.clj-kondo/.cache/
.lsp/.cache/
.nrepl-port

# Anciens fichiers / résidus
resources.old/
backend/helmpilot-backend@*
